In [21]:
import pandas as pd
import os

In [22]:
df = pd.read_parquet("../data/nitrate.parquet")

In [23]:
dfs = []
folder_path="../data"
for filename in os.listdir(folder_path):
    if filename.endswith('.parquet'):
        # Construct the full file path
        file_path = os.path.join(folder_path, filename)
        
        # Read each Parquet file into a DataFrame and append it to the list
        df = pd.read_parquet(file_path)
        dfs.append(df)

# Concatenate all DataFrames in the list into one
combined_df = pd.concat(dfs, ignore_index=True)

In [24]:
combined_df

,historianTagnummer,hstWaarde,datumBeginMeting,datumEindeMeting
0,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:00:00,2021-01-01 00:01:00
1,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:01:00,2021-01-01 00:02:00
2,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:02:00,2021-01-01 00:03:00
3,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:03:00,2021-01-01 00:04:00
4,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:04:00,2021-01-01 00:05:00
...,...,...,...,...
2231450,EDE_B121069913_K600.MTW,2.256,2021-12-31 23:55:00,2021-12-31 23:56:00
2231451,EDE_B121069913_K600.MTW,2.264,2021-12-31 23:56:00,2021-12-31 23:57:00
2231452,EDE_B121069913_K600.MTW,2.273,2021-12-31 23:57:00,2021-12-31 23:58:00
2231453,EDE_B121069913_K600.MTW,2.281,2021-12-31 23:58:00,2021-12-31 23:59:00
2231454,EDE_B121069913_K600.MTW,2.289,2021-12-31 23:59:00,2022-01-01 00:00:00